<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img class="logo" src="assets/Logo.png" width="45">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="icons" src="assets/home.png">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="icons" src="assets/plus.png">
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <img class="icons" src="assets/user.png">
        </a>
<!--        Sub menu-->
        <div class="sub-meu">
          <ul>
            <li> <a href="#">Profile</a> </li>
            <li> <a href="#">Settings</a> </li>
            <li> <%=link_to "Log Out", destroy_account_session_path, method: :delete %> </li>
          </ul>
        </div>
      </li>
    </ul>


  </div>
</nav>
