// Place all the styles related to the Stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

.fa-circle-plus{
  background-color: white;
  margin: 0;
  padding: 0;
  font-size: 40px !important;
  color: #5e5e5e;
}
.add-story-area{
  padding: 0;
  margin: 50px auto;
  width: 451px;
  border: #e6e6e6 solid 1px;
  overflow-x: auto;
}

.story-page{
  background-color: black;
}

.story-box{
  width: 480px;
  margin: 55px 250px;
  border: #e6e6e6 1px solid;
}

.story-body{
  background-color: black !important;
  color: white !important;

  .row{
    margin: auto;
  }
}
.story-avatar{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.thumbnail-avatar
{
  border-radius: 50%;
}

.default-avatar
{
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.story-username{
  color: white;
  margin: 0 !important;
  padding: 0 !important;
  -webkit-text-stroke: 0.5px black;
}
.story-header{
  position: absolute;
  width: 451px;
  margin: 20px;
  z-index: 100;
}

.story-options{
  text-align: right;
  width: available;
  margin-top: 50px;
}
.fa-xmark{
  color: white;
  font-size: 35px;
}
.story-column{
  width: fit-content;
}
.story-container{
  margin: auto;
  display: flex;
}


.story-time{
  color: white !important;
  -webkit-text-stroke: 0.5px black;
  font-size: 10px !important;
  position: absolute;
  margin-top: 55px;
  margin-left: 90px;
  z-index: 100;
}

.story-btn{
  color: white;
  z-index: 300;
}
.delete-story{
  padding: 8px;
  position: absolute;
  margin-left: 450px;
  margin-top: 18px;
  z-index: 200;
  -webkit-text-stroke: 0.5px black;
}